body {
  font-family: "Raleway", sans-serif;

}

.nombre{
  width: 400px;

}

/* Hero Section */

#Hero-Section {
  background-image: url("https://images.pexels.com/photos/5582597/pexels-photo-5582597.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #000000;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
.redes{
  color:white;
  margin: 10px;

}
